/* Header */
.header {
  padding: 50px; /* some padding */
  text-align: center; /* center the text */
  background: DodgerBlue; /* nice blue background */
  color: white; /* white text color */
  font-size: 20px; /* text size */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 30px;
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
}

.header img {
  float: right;
  height: 150px;
  position: relative;
  top: 0;
  bottom: 0;
}

/*
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
*/

/* Footer */
.footer {
  font-family: 'trebuchet ms', sans-serif;
  font-size: 80%;
  height: 28px;
  padding: 20px;
  text-align: center; 
  background: DodgerBlue;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Navbar container */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: MidnightBlue; /* Dark blue background color */
  font-family: Arial; /* font */
}

/* Links inside the navbar */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* Remove underline */
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a black background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none; /* Remove underline */
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
